html {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    color: #FFFFFFDE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 100px;
}